<footer class="footer bg-dark pt-5 pb-3 mt-5 text-dark">
    <div class="container">
        <div class="row row-grid align-items-center mb-5">
            <div class="col-lg-6">
                
            </div>

            <div class="col-lg-6 btn-wrapper text-center text-lg-right mt-sm-4 mt-lg-0">
                <a href="" class="px-3 text-info">
                    <i class="fab fa-facebook-f fa-fw fa-2x"></i>
                </a>
                <a href="" class="px-3 text-info">
                    <i class="fab fa-twitter fa-fw fa-2x"></i>
                </a>
                <a href="" class="px-3 text-info">
                    <i class="fab fa-instagram fa-fw fa-2x"></i>
                </a>
                <a href="" class="px-3 text-info">
                    <i class="fab fa-github fa-fw fa-2x"></i>
                </a>
            </div>
        </div>

        <hr>

        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; <a href="" class="text-info" target="_blank">Grizzly Entertainment</a> 2018-2020. All Rights Reserved
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://shatteredrelics.com/terms/" class="nav-link" target="_blank">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://shatteredrelics.com/privacy/" class="nav-link" target="_blank">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>