{% extends 'layout.twig' %}

{% block content %}
    {% include 'global/navbar.twig' %}

    <header class="small-header">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="flex-fill">
                    <h2>PLAYER VS. PLAYER</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="section-lg">
        <div class="container">

            <div class="row align-items-center py-5">
                <div class="col-sm-12 ">
                    <h1 class="title mb-4">
                        <br><span class="text-info">LEADERBOARDS</span>
                    </h1>
                    <p>
                        Players that exceed over a specific matchmaking rating will appear on the website leaderboards with their current class, specialization and rating.
                        The leaderboards will be reset every 4 months when a new season starts and players will have to battle to achieve rank one again.
                    </p>
                    <h5>HIGH RANKED</h5>
                    <p>Highly ranked players that are ranked in the top 9 will have an overhead icon in their nameplate that is toggleable to display their current rank in the leaderboards to allow them
                        to show off their accomplishment and hard work.</p>
                </div>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>


                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <span class="text-info">DUNGEONS</span>
                    </h1>
                    <p>Queue into arenas with a pre-made group or queue in solo and get auto-matched with random team members.</p>
                    <h4>MODES</h4>
                    <ul>
                        <li><h6>1v1</h6></li>
                        <li><h6>2v2</h6></li>
                        <li><h6>3v3</h6></li>
                    </ul>
                </div>
            </div>

            <div class="row align-items-center py-5">

                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <span class="text-info">RAIDS</span>
                    </h1>
                    <p>Queue into arenas with a pre-made group or queue in solo and get auto-matched with random team members.</p>
                    <h4>SIZES</h4>
                    <ul>
                        <li><h6>10v10</h6></li>
                        <li><h6>15v15</h6></li>
                        <li><h6>20v20</h6></li>
                    </ul>
                    <h4>MODES</h4>
                    <ul>
                        <li><h6>King of the Hill</h6></li>
                        <li><h6>Capture the Flag</h6></li>
                        <li><h6>Last Man Standing (Solo & Group)</h6></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-sm-12 col-lg-5">
                    <img src="{{ url('public/imgs/post1.jpg') }}"
                         class="w-100 mb-3 mb-lg-0 shadow">
                </div>


                <div class="col-sm-12 col-lg-7">
                    <h1 class="title mb-4">
                        <span class="text-info">WORLD BOSSES & ELITES</span>
                    </h1>
                    <p>Queue into arenas with a pre-made group or queue in solo and get auto-matched with random team members.</p>
                    <h4>MODES</h4>
                    <ul>
                        <li><h6>1v1</h6></li>
                        <li><h6>2v2</h6></li>
                        <li><h6>3v3</h6></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    {% include 'global/footer.twig' %}
{% endblock %}