{% extends 'layout.twig' %}

{% block content %}
{% include 'global/navbar.twig' %}

<header class="small-header">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="flex-fill">
                <h2>Privacy Policy</h2>
                <p>Last Updated Aug. 28, 2020</p>
            </div>
        </div>
    </div>
</header>

<section class="section-lg">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-sm-12">
                <h5>General</h5>
                <ol>
                    <li>This Privacy Policy relates to the product SoulSplit and the associated website at foxtrot-studios.co
                        and it's subdomains.</li>
                    <li>
                        We are committed to integrity and professionalism in all areas of our services
                        and therefore we take our obligations under the Data Protection Act 1998 (“the Act”) seriously.
                        We will use all reasonable endeavours to protect your privacy and ensure that personal data is
                        collected and processed in accordance with the Act and only as outlined below.
                    </li>
                </ol>

                <h5>Your personal data: what we collect</h5>
                <ol>
                    <li>We may collect the following types of personal data from you if you buy products or services
                        from us:
                        <ol>
                            <li>Your name, date of birth, address, email address, IP address and telephone number;</li>
                        </ol>
                    </li>
                    <li>When you are browsing our website, we may collect information about your computer, including but
                        not limited to your IP address, operating system. We may obtain information by using a cookie
                        file which is stored on the hard drive of your computer. Cookies contain information that is
                        transferred to your computer’s hard drive and allow us to recognise your PC and your preferred
                        settings. Most browsers can be programmed to reject, or warn you, before using cookies.</li>
                </ol>

                <h5>Your personal data: how we use it</h5>

                <ol>
                    <li>We will use your personal data for administrative purposes, including making a contract with
                        you, billing you, receiving payment from you and carrying out services for you.</li>
                    <li>We may use the data you provide to conduct appropriate anti-fraud checks. To ensure that
                        your credit, debit or charge card has not been used without your consent, we will validate
                        name, address and other personal information that you supply during the order and payment
                        process. In performing these checks, personal data you provide may be disclosed to a
                        registered Credit Reference Agency, which may keep a record. This is done only to confirm
                        your identity and no credit check is performed, and your credit rating should not be
                        affected.</li>
                    <li>We may use your email address to contact you with news, updates, and SoulSplit related
                        matters</li>
                </ol>

                <h5>Your personal data: use by third parties</h5>
                <ol>
                    <li>Email Addresses may be disclosed to MailChimp for emailing purposes</li>
                    <li>Personal data may be disclosed to third parties or authorities if criminal activity is
                        suspected</li>
                    <li>We will not provide any other your personal data to any third party unless
                        <ol>
                            <li>you specifically authorise us to do so; or</li>
                            <li>we need to do so in relation to a payment transaction with a credit or debit card
                                company or in relation to a direct debit transaction with a bank or other financial
                                institution or credit reference agency; or</li>
                            <li>we are required to do so by law or other binding regulation.</li>
                        </ol>
                    </li>
                </ol>

                <h5>Maintaining records</h5>
                <ol>
                    <li>In line with current requirements under the Data Protection Act, 1998, we will retain your
                        personal data for no longer than necessary.</li>
                    <li>We encourage you to provide full personal data and you agree to provide personal data which
                        is in all respects true, accurate and up to date and is not misleading, deceptive or
                        inaccurate.</li>
                </ol>

                <h5>Data security</h5>
                <ol>
                    <li>We will take reasonable steps to protect the personal data under our control from
                        unauthorised access, improper use and disclosure.</li>
                    <li>Even though we have taken reasonable steps to protect your data whilst it is being
                        transmitted, we cannot guarantee the security of any data transmitted to us by the internet
                        and any transmission is at your own risk. Once we have received your data, we will use strict
                        procedures and security features to prevent unauthorised access. </li>
                </ol>

                <h5>Requesting information</h5>
                <ol>
                    <li>The full extent of the personal data we hold on you is displayed in the Administration
                        section of our website at SoulSplit.ps. You may ask us to provide you with a copy of the
                        personal data we hold about you for a nominal fee by sending an email to
                        <a href="mailto:rune.evo2012@gmail.com">rune.evo2012@gmail.com</a>. For your protection, we may ask for proof of your
                        identity before providing any information and reserve the right to refuse to provide
                        information requested if your identity is not established to our satisfaction.</li>
                </ol>

                <p class="mt-5">
                    If you have any enquiry or concern about our Privacy Policy, or the way we are handling your personal
                    data, please contact us at the address above.</p>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{% include 'global/footer.twig' %}
{% endblock %}