{% extends 'layout.twig' %}

{% block content %}
{% include 'global/navbar.twig' %}

<header class="small-header">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="flex-fill">
                <h2>Overview</h2>
                <p>Read about the core features of Shattered Relics! </p>
            </div>
        </div>
    </div>
</header>

<section class="section-lg">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-sm-12 col-lg-5">
                <img src="{{ url('public/imgs/post1.jpg') }}"
                    class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            
            <div class="col-sm-12 col-lg-7">
                <h1 class="title mb-4">
                    <br><span class="text-info">ABOUT</span>
                </h1>
                <p>
                    Shattered Relics is a Massively Multiplayer Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                    Set in a time where magic is unheard of, seen and rarely practiced. Players must gather, craft, explore and fight to learn the untold truths of magic. Journey
                    through the depths of the mysterious ever-changing world and battle each obstacle that the world throws at them as it strives to preserve itself.
                </p>
            </div>
        </div>
        
        <div class="row align-items-center py-5">
            <div class="col-sm-12 ">
                <h1 class="title mb-4">
                    <br><span class="text-info">COMBAT</span>
                </h1>
                <p>
                    Combat needs to be engaging and feel alive and with real-time action based combat, nothing can be more engaging. While aiming and position truly matters,
                    the even more exciting fact is specializing and mastering your class. With our multi-class system you will be able to unlock and obtain each and every class grimoire and specialize into
                    the class you desire at any time. While not only will you be able to master each and every class, but weapon mastery is also a very crucial piece to your class mastery, as each and every weapon
                    that is used for your class will have it's own unique abilities, and perform uniquely for each class. Giving you full control creative control over your character and it's attributes.
                </p>
            </div>
        </div>


        <div class="row align-items-center py-5">
            <div class="col-sm-12 col-lg-5">
                <img src="{{ url('public/imgs/port.png') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h1 class="title mb-4">
                    <br><span class="text-info">TRADES</span>
                </h1>
                <p>
                    Explore through the world and gather rare unique materials that you can refine or enchant into something truly wonderful. Traverse all 18 trades and define who you are by specializing in up to 2
                    trades to give yourself unique purpose throughout the world. Advance your progression with trades by practice, world exploration, questing, and your discoveries. Engage in treasure trails to learn about
                    the legendary materials and artifacts that are the most desirable.
                </p>
            </div>
        </div>

       
        <div class="row align-items-center py-5">
            <div class="col-sm-12 ">
                <h1 class="title mb-4">
                    <br><span class="text-info">SOCIAL</span>
                </h1>
                <p>
                    Player narrative is a huge aspect within the world, as your actions will determine the direction of your journey. The direction you so desire can take affect in your faction, guild, quests, and other
                    potential aspects of your adventure. Leading you into your own unique community to take on challenges head-on while exploring the world in team-based content such as dungeons, raids, distractions & diversions, mini-games,
                    quests, puzzles, and even treasure hunting.
                </p>
            </div>
        </div>


        <div class="row align-items-center py-5">
            <div class="col-sm-12 col-lg-5">
                <img src="{{ url('public/imgs/questing.jpg') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h1 class="title mb-4">
                    <br><span class="text-info">QUESTING</span>
                </h1>
                <p>
                    Quests should actually feel like an actual adventure; Therefore, we will set you in a world that requires deep exploration, challenges with critical thinking, puzzles, and intense PvE.
                    Throughout your journey of questing you will find that it unlocks additional content, classes, races, trades, and additional treasure trails to exceed your vast needs for adventure.
                </p>
            </div>
        </div>

        <div class="row align-items-center py-5">
            <div class="col-sm-12 ">
                <h1 class="title mb-4">
                    <br><span class="text-info">WORLD CYCLES</span>
                </h1>
                <p>
                    As time passes you by through your journey, the world will evolve around you. Day will become night and mystical creatures of the dark will begin to lurk, as celestial events begin to occur the magical essence
                    of the events will begin to drench through the roots of the world and you will feel great shift in power of all magical sources. Days will pass before your eyes and weather will change in the months to come, affecting the scarcity
                    of animals and materials. Dungeon entrances will begin to freeze, and thaw as seasons begin to change and the economy will rise and suffer.
                </p>
            </div>
        </div>

        <div class="row align-items-center py-5">
            <div class="col-sm-12 col-lg-5">
                <img src="{{ url('public/imgs/exploration.jpg') }}"
                     class="w-100 mb-3 mb-lg-0 shadow">
            </div>

            <div class="col-sm-12 col-lg-7">
                <h1 class="title mb-4">
                    <br><span class="text-info">EXPLORATION</span>
                </h1>
                <p>
                    Every single time the days go dark and the nights go bright, the world itself will evolve and become more alive. Dungeons will appear and fade, resources will plunder and rise, elite monsters will appear in the shadows, and
                    new task and adventure awaits. Consistently experiencing new and random events within the world that will make traveling throughout the world a truly unique experience. Journey through the ever reforming world that
                    will continue to make exploration and the search for desired treasure, recipes, artefacts, quests and pve encounters truly immersive.
                </p>
            </div>
        </div>


    </div>
</section>

{% include 'global/footer.twig' %}
{% endblock %}