{% extends 'layout.twig' %}

{% block content %}
{% include 'global/navbar.twig' %}

<header class="small-header">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="flex-fill">
                <h2>Q&amp;A</h2>
                <p>Frequently asked questions and answers</p>
                <p>Please be aware that anything is subject to change at any given time. This is our current direction.</p>
            </div>
        </div>
    </div>
</header>


<section class="section-lg">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-sm-12 ">

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: What is Shattered Relics?
                    </div>
                    <div class="card-body">
                        A: Shattered Relics "SR" is a Massively Multi-player Online Role Playing Game that offers a high fantasy world with classic old school experience and modern solutions.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: What Game Engine is Shattered Relics developed in?
                    </div>
                    <div class="card-body">
                        A: Unreal Engine 5.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: What is your most referenced games while creating Shattered Relics?
                    </div>
                    <div class="card-body">
                        A: We draw the most inspiration from of OldSchool Runescape, New World, and World of Warcraft Classic.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Are we able to play test Shattered Relics yet?
                    </div>
                    <div class="card-body">
                        A: Game services will be available on the first weekend of every month for the public, and all backers will be able to login and play the game during the entire month as the services are online.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Do you have an estimated time frame for a Pre-Alpha?
                    </div>
                    <div class="card-body">
                        A: We are unsure how long it will take for us to get to a pre-alpha state. That will determine on team growth, and funding.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: What platforms will Shattered Relics be available on?
                    </div>
                    <div class="card-body">
                        A: PC Exclusive with potential thoughts for Xbox.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will this be action or tab target?
                    </div>
                    <div class="card-body">
                        A: We will be offering a classless action realtime combat, where aiming and position matters.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be factions?
                    </div>
                    <div class="card-body">
                        A: As of right now we are looking at having a total of 2 factions but this is subject to change at any time.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: How can i change factions? Do i have to pay or create a new character?
                    </div>
                    <div class="card-body">
                        A: Neither! We are designing this area in such a way to where you would neither have to pay nor create a new character to switch to an opposing faction.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be classes?
                    </div>
                    <div class="card-body">
                        A: There will be a multi-class system in which players will be able to become and train any class they desire upon unlocking it. Players will be able to combine up to 2 classes to become hybrids. (Subject to change).
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: How many classes will there be?
                    </div>
                    <div class="card-body">
                        A: There will be a multitude of additional classes such as but not limited to warriors, paladins, rogues, hunters, warlocks, necromancers, mages, shamans, druids, priests and possibly more.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be class specializations?
                    </div>
                    <div class="card-body">
                        A: Yes, there will be different specializations that you can specialize into for each class.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will the holy trinity still exist?
                    </div>
                    <div class="card-body">
                        A: Yes, we believe in alot of the oldschool systems. Players will still have their role in their class.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will future choice of race or gender effect you being a specific class?
                    </div>
                    <div class="card-body">
                        A: No, there will be absolutely no gender or race locks to a specific class.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be multiple races?
                    </div>
                    <div class="card-body">
                        A: As of now we will only be offering a male and female human race. However, we do have future plans to add additional races.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will characters be locked to servers?
                    </div>
                    <div class="card-body">
                        A: We are leaning towards locking the player to a specific server, but allow the player to visit and play with friends on other servers but their progression in the world is subtle as each server instance is unique.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: What countries will this be released on? Will there be servers outside of the United States?
                    </div>
                    <div class="card-body">
                        A: Right now our primary focus is United States. However, we are still considering additional localizations.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be dungeons, raids, instances, etc?
                    </div>
                    <div class="card-body">
                        A: Yes there will be, we will be offering 'WoW Like' 5 man dungeons and 10-15 man raids.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be open world PvP?
                    </div>
                    <div class="card-body">
                        A: Yes there will be! We will have zones that are flagged for PvP and the danger / intensity level in the PvP zones will be identified.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be a death penalty?
                    </div>
                    <div class="card-body">
                        A: As of right now the biggest death penalty will be durability loss on only current equipped gear. This concept is subject to change at any time.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will items drop on death?
                    </div>
                    <div class="card-body">
                        A: There will be select few areas in the game that will be marked as highly dangerous, that will allow intense high risk vs high reward areas. Enabling players to be able to be looted.
                            If they are not looted within a certain time, or if the player comes back to their death location and loot their items back. They will be restored to the player.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: How many trades will there be?
                    </div>
                    <div class="card-body">
                        A: As of right now there will be a total of 18 trainable trades.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Can you master every trade?
                    </div>
                    <div class="card-body">
                        A: Yes, a player will be able to master every single trade, however. You will only be able to specialize in 2 specific skills that grant you additional ability to create higher tier products. This prevents everyone from crafting all high tier items and
                            allowing each player to be unique and desirable in the world.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be items that are obtained from trade mastery?
                    </div>
                    <div class="card-body">
                        A: Yes, we will offer some type of cosmetic appearance item that allows players to showcase their efforts in trade mastery.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be capes?
                    </div>
                    <div class="card-body">
                        A: Yes! We will actually have capes.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be mounts?
                    </div>
                    <div class="card-body">
                        A: Yes, We will offer a wide variety of ground mounts. However, Flying mounts are something we may include in the future but is subject to change.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be guilds?
                    </div>
                    <div class="card-body">
                        A: Yes!
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Is the questing system going to be (Kill X, Gather Y, Talk-To, etc)?
                    </div>
                    <div class="card-body">
                        A: Nope! We will have an advanced, and complex questing system that requires critical thinking, and puzzle solving!
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be VOIP? (Voice over Internet Protocol) [Voice Chat]
                    </div>
                    <div class="card-body">
                        A: It is a system which we are wanting to implement, but will not be offered in early stages.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Can players build in the world?
                    </div>
                    <div class="card-body">
                        A: Nope, we will not include any building or construction done by players.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be auction houses / trading posts?
                    </div>
                    <div class="card-body">
                        A: Yes, there will be auction houses in each region, and will be unique to each region.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be vendors for players to sell items to?
                    </div>
                    <div class="card-body">
                        A: Yes, players will be able to sell items to vendors under market price to get quick gold if they choose not to use auction houses.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be player housing?
                    </div>
                    <div class="card-body">
                        A: Players will be able to purchase housing in a specific town or area once they have achieved enough reputation in the town to purchase one.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: will player housing be instanced?
                    </div>
                    <div class="card-body">
                        A: Yes housing is not a first come first serve aspect. However the player that has the most invested into their house will be showcased and viewable for the entire public if enabled by said player.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will the be PvP tournaments? (i.e Arenas / Battlegrounds)
                    </div>
                    <div class="card-body">
                        A: Yes! We will be offering a wide variety of Player vs Player content.
                    </div>
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    <div class="card-header bg-transparent py-4">
                        Q: Will there be Leaderboards?
                    </div>
                    <div class="card-body">
                        A: Yep! We absolutely love competition and offer bragging rights for players! We will offer leaderboards for a various amount of gameplay mechanics! i.e Professions, PvE, PvP, Guilds, as well as seasonal leaderboards.
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% include 'global/footer.twig' %}
{% endblock %}