<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form action="" method="post" id="loginForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" name="username" id="username" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Password</label>
                        <input class="form-control" name="password" id="password" type="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning btn-block">
                            Sign In
                        </button>
                    </div>
                    <div class="form-group">
                        <a href="" id="discord" class="btn btn-discord btn-block">
                            Login with Discord
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="#" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>