{% extends 'layout.twig' %}

{% block content %}
{% include 'global/navbar.twig' %}

<header>
    <div class="d-flex align-items-center">
        <div class="flex-fill">

            <h1 class="mb-4">
                Subcribed.
            </h1>

            <p>
                You have successfully subscribed to our newsletter. You will now receive newsletters when we send them out.
                Thank you for supporting Shattered Relics!
            </p>
            <p>
                <a href="https://shatteredrelics.com/" class="header-link">Return Home</a>
            </p>
        </div>
    </div>
</header>

{% include 'global/footer.twig' %}
{% endblock %}